@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Montserrat, sans-serif;
}

.hide {
    display: none !important;
}

.TaskContainer {
    border: 1px solid grey;
}

li {
    list-style: none;
}

.checked {
    border: 1px solid lightgreen;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	padding: 0 2rem;
}

.card {
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 1rem color-mix(in srgb, black 20%, transparent);
	h2 {
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0;
	}
	ul {
		list-style: none;
		padding: 1.5rem 0;
		border-top: solid thin gray;
		border-bottom: solid thin gray;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

}

.button {
	margin: 0.5rem;
	background-color: grey;
	max-width: 20rem;
	color: white;
	text-transform: uppercase;
	font-weight: 800;
	padding: 1em 3em;
	display: inline-block;
	text-align: center;
	border: solid thin transparent;
}

.check {
	max-width: 3rem;
	min-height: 2rem;
}

.profile {
	display: flex;
	justify-content: space-between;
}

#logoutButton {
	background-color: darkred;
}

#buttonCreateTask {
	background-color: darkgreen;
}

#searchTaskText {
	min-width: 20rem;
}
